<% topic = params[:topic] %>
<%= nag_user_to topic do %>
  Don't forget to <%= link_to topic, 'http://www.github.com' %>
  <p>(<strong><%= postpone_for 5.seconds %></strong>)</p> <br />
<% end %>
<%= link_to  'This should always appear', 'http://www.google.com' %>
