<!DOCTYPE html> 
<html>
<head>
  <title>Noodnik</title>
  <%= stylesheet_link_tag    "noodnik/application" %>
  <%= javascript_include_tag "noodnik/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
